
.barraLateral{
    width: 300px;
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow-y: scroll;
    margin-left: -300px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

.barraLateral::-webkit-scrollbar{
  display: none;
}

.areaLogo{
  display: flex;
  justify-content: center;
}
.logoOficina {
  max-height: 30vh;
}
.nomeOficina{
  display: flex;
  justify-content: center;
}

@media (max-width: 575px){
  .barraLateral{
    margin-left: -300px;
  }
  .ba{
    margin-left: 0;
  }
}

@media (min-width: 576px){
  .barraLateral{
    margin-left: 0;
  }
}