.logo-oficina-superior{
    max-height: 48px;
}
.botao-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}
.icone-menu{
    align-self: center;
}