.drag{
    padding: 5px;
    border: 3px dashed #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.drag-sucesso{
    border: 3px solid;
    border-color: #78e5d5;
    background-color: #fff;
}

.drag-rejeicao{
    border-color: #e57878;
    background-color: #fdcfcf;
}

.msg-sucesso{
    color: #78e5d5;
}

.msg-erro{
    color: #e57878;
}

.msg-padrao{
    color: #333;
}

.container-drag{
    height: 156px;
    min-width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-drag {
    background-color: #fff;
    opacity: 0.8;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.container-msg-drag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: static;
}

.imagem-drag{
    max-height: 156px;
    max-width: 156px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    position: absolute;
}