.formContainer {
  display: "flex";
  position: relative;
}

.root{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card{
  max-height: 100%;
  overflow: scroll;
  display: block;
}

.form {
  margin-bottom: 0;
  transition: all .5s;
}

.formColapsed {
  margin-bottom: -100vh;
  bottom: 100
}