.slider{
  position: relative;
  width: 100%;
  height: var(--h-livre-com-barra-rodape);
}

.slide{
  width: 100%;
  height: var(--h-livre-com-barra-rodape);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: all 1s;
}

.slide.ativo{
  opacity: 1;
}

.slide-corpo{
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide-titulo{
  width: fit-content;
  text-align: center;
}

.slide-imagem{
  transition: all 0.6s;
  opacity: 0.2;
  max-width: 100%;
  max-height: 90%;
  position: absolute;
  z-index: 0;
}

@media (max-width : 576px){
  .slide-titulo{
    padding: 3vw;
  }
}