:root{
  --h-barra-nav: 75px;
  --h-rodape: 75px;
  --h-livre-com-barra: calc(100vh - var(--h-barra-nav));
  --h-livre-com-barra-rodape: calc(100vh - var(--h-barra-nav) - var(--h-rodape));
}


.layout{
  display: flex;
  flex-direction: row;
  transition: filter .5s;
}
.conteudo{
  min-height: var(--h-livre-com-barra-rodape);
}
.conteudo-light{
  transition: filter .25s;
  overflow-block: hidden;
}

@media (max-width:575px){
  .conteudo-light-blur{
    filter: blur(2px);
    max-height: var(--h-livre-com-barra-rodape);
    overflow-y: hidden;
  }
}

.altura-maxima{
  height: calc(100vh - 64px);
}
