body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ::-webkit-scrollbar {
  width: 10px;
}
/* Track 
::-webkit-scrollbar-track {
  
}
 
/* Handle 
::-webkit-scrollbar-thumb {
  background: #888;
  transition: all .5s;
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  transition: all .5s;
} */